[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CooccurrenceAffinity"]
	path = CooccurrenceAffinity
	url = https://github.com/kpmainali/cooccurrenceaffinity
